<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timathon - Speech Visualiser</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <section>
        <div class="navbar"></div>
        <div class="welcome">
            <div class="welcome-tab">
                <div class="circle"></div>
                <p>Welcome User</h5>
            </div>
        </div>
        
        <div class="container">
            <div class="left">
                

                <div class="waveWrapper waveAnimation">
                    <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
                    </div>
                    <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
                    </div>
                    <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
                    </div>
                </div>
  
            </div>
            <div class="right"></div>
        </div>
        <form action="/results/" method="post">
            <input type="hidden" name="transcript" value="" class="transcript-text" />
            <button type="submit" name="results" class="results">See Results</button>
        </form>
        <div class="bottom">
            <span class="material-icons mic"  [inline]="true">
                mic
            </span>
        </div>
    </section>
    
    <script src="./script.js"></script>
</body>
</html>